CONFIG_SLUB_DEBUG=n
CONFIG_PM_DEBUG=n
CONFIG_SEC_PM=n
CONFIG_SEC_PM_DEBUG=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_SEC_NFC_LOGGER=n
CONFIG_CP_RAM_LOGGING=n
CONFIG_SBD_BOOTLOG=n
CONFIG_SCSC_MXLOGGER=n
CONFIG_SCSC_LOGRING=n
CONFIG_SCSC_LOG_COLLECTION=n
CONFIG_SCSC_WLAN_MUTEX_DEBUG=n
CONFIG_SCSC_WIFILOGGER=n
CONFIG_SCSC_WLAN_ENHANCED_LOGGING=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_MALI_EXYNOS_DEBUG=n
CONFIG_CMUCAL_DEBUG=n
CONFIG_CONTEXTHUB_DEBUG=n
CONFIG_EXYNOS_SECURE_LOG=n
CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG=n
CONFIG_SEC_BOOTSTAT=n
CONFIG_SEC_DEBUG_TSP_LOG=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_PREEMPT=n
CONFIG_DISABLE_TRACE_PRINTK=y
CONFIG_DEBUG_SNAPSHOT=n
CONFIG_SEC_DEBUG=n
CONFIG_EXYNOS_DEBUG=n
CONFIG_DEBUG_INFO=n
CONFIG_ECT_DUMP=n
CONFIG_TZLOG=n
CONFIG_USB_DEBUG_DETAILED_LOG=n
CONFIG_MMC_DW_DEBUG=n
CONFIG_SEC_DEBUG_SOFTDOG_PWDT=n