CONFIG_SCSC_AP_INTERFACE_NAME="swlan0"
CONFIG_SCSC_WLAN_MAX_INTERFACES=3
CONFIG_SCSC_WLAN_MAC_ADDRESS_FILENAME="/efs/wifi/.mac.info"
CONFIG_SCSC_WLBTD=y
CONFIG_SCSC_WRITE_INFO_FILE_WLBTD=y
CONFIG_USB_OLD_CONFIGFS=y
CONFIG_ONEUI=y
CONFIG_SCSC_WLAN_MHS_STATIC_INTERFACE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_MMS_SUPPORT_DEX=y
CONFIG_PROCESS_RECLAIM=y
